<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests"> 

 
  <test name="Android_Pixel">  
    <listeners>  
  		<listener class-name="com.qa.listener.TestListener" />  	
    </listeners> 
    <!-- Change value here if run IOS emulator--> 
    <parameter name="platformName" value="Android"/>  <!--iOS / 11.3 / iPhone 11 -->
  	<parameter name="platformVersion" value="10.0"/>
  	<parameter name="deviceName" value="Pixel_3a_API_29"/>  
  	<parameter name="emulator" value="true"/>    <!--if use emulator device-->
    <parameter name="udid" value="80932AHJDJF"/> <!--if use real device, find udid command : --> 
    <parameter name="systemPort" value="10000"/>
    <parameter name="chromeDriverPort" value="11000"/>
    <classes> 
			<class name="com.qa.test.LoginTest"></class>  
   		<class name="com.qa.test.ProductTest"></class>
    </classes>
  </test> <!-- Test -->   
     
     <test name="Android_Nexus">  
    <listeners>  
  		<listener class-name="com.qa.listener.TestListener" />  	
    </listeners> 
    <!-- Change value here if run IOS emulator--> 
    <parameter name="platformName" value="Android"/>  <!--iOS / 11.3 / iPhone 11 -->
  	<parameter name="platformVersion" value="10.0"/>
  	<parameter name="deviceName" value="Nexus_5X_API_29"/>  
  	<parameter name="emulator" value="true"/>    <!--if use emulator device-->
    <parameter name="udid" value="80932AHJDOF"/> <!--if use real device, find udid command : --> 
    <parameter name="systemPort" value="10001"/>
    <parameter name="chromeDriverPort" value="11001"/>
    <classes> 
		<class name="com.qa.test.LoginTest"></class>
   		<class name="com.qa.test.ProductTest"></class>  
    </classes>
  </test> <!-- Test -->   
</suite> <!-- Suite -->
